p, h1,h2,h3,h4,h5{
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #F8F9FD;
}


.bg-mynav {
    background-color: #4d72de;
    height: 65px;
  }
  
  body {
    font-size: 1.25rem;
    background-color: #f6f8fa;
  }
  
  td {
      line-height: 3rem;
  }

  .form-label{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.521);
  }

  #picture{
    border-radius: 100%;
  }

  .modal-new .modal-dialog{
    max-width: 750px;
  }

  .card-header{
    background: #F8F9FD;
    color: #4d72de;
    padding: 15px;
    border: none;
  }

  .card{
    border: none;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.082) 0px 2px 8px 0px;
}

.btn-main{
  background: #4d72de;
  color: white;
}

.btn-main:hover{
  color: white;
}

h2.swal2-title{
  font-size: 14pt;
}

td{
  font-size: 11pt;
  font-weight: 500;
}

th{
  font-size: 12pt;
}

.navbar-brand img{
  width: 50px;
}
/* a.paginate_button .current{
  background: red;
} */

/* .pagination > li > a, .pagination > li > span{background-color:red}
.pagination > li.active > a, .pagination > li.active > span{background-color:green} */

#tableInfluencer img{
  width: 60px;
  border-radius: 100%;
}

#tableInfluencer input{
  background: blue;
}

.dataTables_filter input {
  width: 250px;
  height: 32px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.dataTables_filter input:focus{
  background: #F8F9FD !important;
  font-size: 11pt;
}

#e_display{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16pt;
}

#v_profile{
  border-radius: 100%;
  width: 120px;
}

#loader{
  background: rgba(0, 0, 0, 0.13);
  height: 100vh;
  position: absolute;
  z-index: 999990;
  visibility: hidden;
}

#loader.display{
  visibility: visible;
}

#loaderModals{
  position: absolute;
  background: black;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: 9999;
  visibility: hidden;
}

#confirm_delete{
  color: white;
}


#viewModals .modal-dialog{
  max-width: 600px;
}

#viewModals .modal-body{
  padding: 30px;
}

#viewModals .modal-content{
  border-radius: 10px;
}

#viewModals form{
  margin: 25px 0 25px;
}

p.t-list{
  font-size: 11pt;
  font-weight: 500;
}

.card-list{
  transition: 0.3s;
}

.card-list:hover {
  transform: translate(0, -10px);
}

.card-list.green{
  border-left: 5px solid #1dc88a;
}

.t-green{
  color: #1dc88a;
}
.card-list.blue{
  border-left: 5px solid #4d72de;
}

.t-blue{
  color: #4d72de;
}
.card-list.cyan{
  border-left: 5px solid #35b9cc;
}

.t-cyan{
  color: #35b9cc;
}
.card-list.yellow{
  border-left: 5px solid #f7c443;
}

.t-yellow{
  color: #f7c443;
}

.float-icon{
  position: absolute;
  left: 85%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  scale: 1.5;
  color: #aaa;
}


#myChart{
  max-height: 350px;
}

.instagram .profile{
  background: #4d71de1c;
  padding: 20px 20px 20px;
  border-radius: 10px;
}

small{
  font-size: 12pt;
}

#lifestyle{
  background: rgb(186, 144, 218);
}
#fashion{
  background: rgb(4, 191, 243);
}
#beauty{
  background: rgb(211, 15, 212);
}
#education{
  background: rgb(206, 243, 19);
}
#travel{
  background: rgb(245, 126, 18);
}
#games{
  background: rgb(37, 101, 44);
}
#event{
  background: rgb(133, 87, 116);
}
#music{
  background: rgb(90, 231, 160);
}
#movie{
  background: rgb(27, 137, 167);
}
#family{
  background: rgb(248, 154, 106);
}
#health{
  background: rgb(45, 125, 115);
}
#automotive{
  background: rgb(170, 22, 228);
}
#finance{
  background: rgb(32, 212, 47);
}
#kids{
  background: rgb(130, 154, 208);
}
#relationship{
  background: rgb(53, 184, 199);
}
#culture{
  background: rgb(41, 145, 75);
}
#technology{
  background: rgb(88, 201, 6);
}
#enterpreneur{
  background: rgb(198, 165, 213);
}
#culinary{
  background: rgb(241, 137, 58);
}
#sport{
  background: rgb(253, 108, 211);
}

#culture{
  background: rgb(188, 108, 253);
}
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

#alert-warning{
  display: none;
}

.delete-btn{
  text-align: right;
  position: absolute;
  right: 10%;
}

.btn-delete{
  background: rgba(250, 38, 38, 0.74);
  color: white;
}

.btn-delete:hover{
  color: white;
}

.btn-danger:active{
  background: red;
}

.display-modals{
  visibility: hidden;
}